<div class="container">
  <form (ngSubmit)="handleSubmit()" [formGroup]="registerForm">
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Wpisz adres email"
        name="email"
        formControlName="email"
      >
      <small class="text-danger"></small>
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input
        type="password"
        class="form-control"
        placeholder="Wpisz hasło"
        name="password"
        formControlName="password"
      >
      <small class="text-danger"></small>
    </div>
    <div class="form-group">
      <label>Potwierdź hasło</label>
      <input
        type="password"
        class="form-control"
        placeholder="Potwierdź hasło"
        name="password"
        formControlName="confirmPassword"
      >
      <small class="text-danger"></small>
    </div>
    <div formGroupName="person">
      <div class="form-group">
        <label>Imię</label>
        <input
          type="text"
          class="form-control"
          placeholder="Wpisz imię"
          name="name"
          formControlName="name"
        >
        <small class="text-danger"></small>
      </div>
      <div class="form-group">
        <label>Nazwisko</label>
        <input
          type="text"
          class="form-control"
          placeholder="Wpisz nazwisko"
          name="surname"
          formControlName="surname"
        >
        <small class="text-danger"></small>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
</div>