<!--The content below is only a placeholder and can be replaced.-->
<div appJumbotron>
  <h1>Movies</h1>

  <ul class="list-unstyled d-flex">
    <li>
      <img [appHideMe]='1' src="https://picsum.photos/200/200?image=111" alt=""/>
    </li>
    <li>
      <img [appHideMe]='3' src="https://picsum.photos/200/200?image=112" alt=""/>
    </li>
    <li>
      <img [appHideMe]='5' src="https://picsum.photos/200/200?image=113" alt=""/>
    </li>
  </ul>
</div>
<app-menu></app-menu>
<router-outlet></router-outlet>

