<nav class="mb-5">
  <ul class="nav float-left">
    <li>
      <a
        class="btn btn-default mr-1"
        routerLink="/"
        routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
      Strona główna
      </a>
    </li>
    <li>
      <a class="btn btn-default mr-1" routerLink="/movies" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{ exact: true }">Filmy</a>
    </li>
    <li>
      <a class="btn btn-default mr-1" routerLink="/contact" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{ exact: true }">Kontakt</a>
    </li>
  </ul>
  <ul class="nav float-right" *ngIf="!isLoggedUser">
    <li>
      <a class="btn btn-default mr-1" routerLink="/user/register" routerLinkActive="btn-primary">Rejestracja</a>
    </li>
    <li>
      <a class="btn btn-default mr-1" routerLink="/user/login" routerLinkActive="btn-primary">Login</a>
    </li>
  </ul>
  <ul class="nav float-right" *ngIf="isLoggedUser">
    <li class="mr-3">
      {{ loggedUserName }}
    </li>
    <li>
      <a routerLink="/user/logout">Wyloguj</a>
    </li>
  </ul>
</nav>